#picture:hover {
  background-color: #282828;
  text-decoration: none;
  color: #ffff;
}

.d-flex.d-md-flex.d-lg-flex.justify-content-center.justify-content-md-center.justify-content-lg-center {
}

.d-flex.d-md-flex.d-lg-flex.justify-content-center.justify-content-md-center.justify-content-lg-center {
}

